@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
body{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    margin-top: 80px;
    text-align: center;
}

#text-input{
    border-radius: 8px;
    height: 40px;
    width: 500px;
}

#check-btn{
    background-color: green;
    border-radius: 8px;
    border-color: green;
    height: 45px;
    width: 100px;
    margin-top: 20px;
}

#result{
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    font-size: 20px;
    text-align: center;
}

